
 <!--   About Start   -->
        <section id="about" class="about" >
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center title">
                                    <h2 class="text-dark">About <span class="base-color">Me</span></h2>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="image-border">
                                    <img src="/img/backpic.jpg" alt="/">
                                </div>
                            </div>
                            <div class="col-lg-6 mt-3 mt-lg-0">
                                <div class="personal-item ">
                                    <h3 class="text-dark mt-3 mt-lg-0"><span class="base-color">Cross platform App &</span>  Web Developer</h3>
                                    <div class="row">
                                        <div class="col-6 personal-info">
                                            <ul class="list-unstyled pt-4">
                                                <li>
                                                    <p>Birthday : <span>* - * - 1997</span></p>
                                                </li>
                                                
                                                <li>
                                                    <p>Phone : <span> +88 01964613773</span></p>
                                                </li>
                                                <li>
                                                    <p>City : <span> Uttara, Dhaka</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6 personal-info">
                                            <ul class="list-unstyled pt-4">
                                                <li>
                                                    <p>Age : <span id="age"> age</span></p>
                                                </li>
                                                <li>
                                                    <p>Degree : <span>B.Sc</span></p>
                                                </li>
                                                <li>
                                                    <p>Mail : <span> nurulabrar2369@gmail.com</span></p>
                                                </li>
                                                <li>
                                                    <p>Freelance : <span> Available</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-border mt-3 mb-lg-0 mr-4">
                                    <a href="/cv/cv_abrar.pdf" class="pill-button">Download Cv</a>
                                </div>
                                <div class="button-border mt-3 mb-lg-0 to-contact">
                                    <a href="#contact" class="pill-button">Hire Me</a>
                                </div>
                            </div>
                        </div>
                        <!-- Count up Start -->
                        
                        <!--  Count up End  -->
                        <!--  Service Start  -->
                        <div class="services">
                            <div class="row mt-5 ">
                                <div class="col-12">
                                    <h3 class="mb-0 text-dark">Tech <span class="base-color">Stacks known to me</span></h3>
                                </div>
                            </div>
                            <div class="row cards">
                                <!-- Item 01 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1  d-inline-block services-icon">
                                            <img class="fa-beat-fade" src="https://img.icons8.com/color/48/000000/python--v1.png"/>
                                           
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Python</h5>
                                            <p class="text-muted mb-0">Primary programming Language that is known to me is Python.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 02 -->
                                
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 mr-2 d-inline-block services-icon">
                                            <i class="fa-brands fa-node size-md base-color fa-beat-fade"></i>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3"> BackEnd Development</h5>
                                            <p class="text-muted mb-0">Mostly I do use nodeJs as my backend. As, it is superfast to deliver data to frontend.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- item -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 mr-2 d-inline-block services-icon">
                                            <img class="fa-beat-fade" src="https://img.icons8.com/color/48/000000/mongodb.png"/>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3"> MongoDb</h5>
                                            <p class="text-muted mb-0">Recently, mongoDb is concerned as my primary choice to store data.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <i class="fa-brands fa-css3 size-md base-color" ></i>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Bootstrap </h5>
                                            <p class="text-muted mb-0">Using bootstrap for most of my web projects to make it responsive.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 03 -->
                                <!-- item -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <iconify-icon class="fa-beat-fade" icon="file-icons:ejs" style="color: #603;" width="48" height="48"></iconify-icon>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">EJS </h5>
                                            <p class="text-muted mb-0"> For front end UI (Template engine) and nodejs backend I've been using EJS</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 03 -->
                                <!-- item -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <i class="fa-brands fa-react size-md react-color fa-beat-fade"></i>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">React </h5>
                                            <p class="text-muted mb-0"> For front end UI and nodejs backend I'm considering ReactJs as its components are reuseable.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 03 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <img class="fa-beat-fade" src="https://img.icons8.com/color/48/000000/flutter.png"/>
                                            
                                            
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Flutter</h5>
                                            <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 06 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <i class="fa-brands fa-laravel size-md laravel-color"></i>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Laravel</h5>
                                            <p class="text-muted mb-0 ">Used at my workplace, not a big fan but worked on couple of projects.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- item end -->
                                <!-- Item 06 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                           <img class="size-md" src="https://img.icons8.com/color/48/000000/django.png"/>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Django</h5>
                                            <p class="text-muted mb-0 ">Used at my personal project. MVT was impressive and DJ was full of security.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- item end -->
                                <!-- Item 05 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            
                                            <i class="fa-brands fa-php size-md base-color"></i>
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">PHP</h5>
                                            <p class="text-muted mb-0">Some university projects (web) done by PHP. The entry point of web application dev.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 06 -->
                                 <!-- Item 05 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <img class="fa-beat-fade" src="https://img.icons8.com/external-those-icons-lineal-color-those-icons/48/000000/external-MySQL-programming-and-development-those-icons-lineal-color-those-icons.png"/>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">MySql</h5>
                                            <p class="text-muted mb-0">For relational Database I mostly use MySQL </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 06 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <img src="https://img.icons8.com/color/48/000000/oracle-logo.png"/>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">ORACLE DB</h5>
                                            <p class="text-muted mb-0">Along with MySql, oracle DB used by me for storing relational data in some university projects.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- item end -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <i class="fa-solid fa-c react-color size-md"></i>
                                            
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">C</h5>
                                            <p class="text-muted mb-0">My entring point in programming using C</p>
                                        </div>
                                    </div>
                                </div>
                                


                            </div>

                        </div>
                        <!--   Service End   -->
                       
                    </div>
                </div>
            </div>
        </section>
        <!--    About End    -->
        <script>
             
            
                const today = new Date();
                const birthDate = new Date("1997-09-11");
                const yearsDifference = today.getFullYear() - birthDate.getFullYear();

                var age = document.getElementById("age").innerText;
                document.getElementById("age").innerText = yearsDifference;
                console.log(yearsDifference);
                console.log(age);

           
                

            
        
        </script>