
 <!--   About Start   -->
        <section id="about" class="about" >
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center title">
                                    <h2 class="text-dark">About <span class="base-color">Me</span></h2>
                                    <p class="text-muted max-width-450 mb-5">In a professional context it often happens that private clients corder a publication to be made.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="image-border">
                                    <img src="/img/backpic.jpg" alt="/">
                                </div>
                            </div>
                            <div class="col-lg-6 mt-4 mt-lg-0">
                                <div class="personal-item ">
                                    <h3 class="text-dark mt-4 mt-lg-0"><span class="base-color">Cross platform App &</span>  Web Developer</h3>
                                    <div class="row">
                                        <div class="col-6 personal-info">
                                            <ul class="list-unstyled pt-4">
                                                <li>
                                                    <p>Birthday : <span>* - * - 1997</span></p>
                                                </li>
                                                <li>
                                                    <p>Website : <span> www.retrina.com</span></p>
                                                </li>
                                                <li>
                                                    <p>Phone : <span> +88 01964613773</span></p>
                                                </li>
                                                <li>
                                                    <p>City : <span> Uttara, Dhaka</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6 personal-info">
                                            <ul class="list-unstyled pt-4">
                                                <li>
                                                    <p>Age : <span id="age"> age</span></p>
                                                </li>
                                                <li>
                                                    <p>Degree : <span>B.Sc</span></p>
                                                </li>
                                                <li>
                                                    <p>Mail : <span> nurulabrar2369@gmail.com</span></p>
                                                </li>
                                                <li>
                                                    <p>Freelance : <span> Available</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-border mt-3 mb-lg-0 mr-4">
                                    <a href="javascript:void(0);" class="pill-button">Download Cv</a>
                                </div>
                                <div class="button-border mt-3 mb-lg-0 to-contact">
                                    <a href="#contact" class="pill-button">Hire Me</a>
                                </div>
                            </div>
                        </div>
                        <!-- Count up Start -->
                        
                        <!--  Count up End  -->
                        <!--  Service Start  -->
                        <div class="services">
                            <div class="row mt-5 ">
                                <div class="col-12">
                                    <h3 class="mb-0 text-dark">What <span class="base-color">I'm Doing</span></h3>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Item 01 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <i class="lni-brush-alt size-md base-color"></i>
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Graphic Design</h5>
                                            <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 02 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <i class="lni-check-mark-circle size-md base-color"></i>
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Bootstrap support</h5>
                                            <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 03 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <i class="lni-heart size-md base-color"></i>
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Portfolio of works</h5>
                                            <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 04 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1  d-inline-block services-icon">
                                            <i class="lni-mobile size-md base-color"></i>
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Responsive Theme</h5>
                                            <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 05 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <i class="lni-world size-md base-color mb-0"></i>
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Go Beyond Limits</h5>
                                            <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 06 -->
                                <div class="col-lg-4 text-left">
                                    <div class="services-item box-hover-border">
                                        <div class="float-left mt-lg-1 d-inline-block services-icon">
                                            <i class="lni-cup size-md base-color"></i>
                                        </div>
                                        <div class="services-content">
                                            <h5 class="mb-3">Premium Slider</h5>
                                            <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--   Service End   -->
                        <!--   Client Start  -->
                        <div class="testimonial mt-5">
                            <div class="col-12">
                                <h3 class="mb-0 text-dark">Client <span class="base-color">Says</span></h3>
                            </div>
                            <div class="owl-carousel">
                                <!-- Testimonial Item-01 -->
                                <div class="testimonial-item box-border">
                                    <div class="testimonial-image">
                                        <div class="testimonial-image-border">
                                            <img src="/img/client-01.png" alt="/">
                                        </div>
                                    </div>
                                    <p class="mb-0 mt-2 text-muted">" In a professional context it often that private or corporate clients publication to be made.In a professional context it often happens that private."</p>
                                    <span class="d-block mt-3 font-weight-bold mr-2">John Doe,<small class="text-muted"> CEO Management</small></span>
                                </div>
                                <!-- Testimonial Item-02 -->
                                <div class="testimonial-item box-border">
                                    <div class="testimonial-image">
                                        <div class="testimonial-image-border">
                                            <img src="/img/client-02.png" alt="/">
                                        </div>
                                    </div>
                                    <p class="mb-0 mt-2 text-muted">" In a professional context it often that private or corporate clients publication to be made.In a professional context it often happens that private."</p>
                                    <span class="d-block mt-3 font-weight-bold mr-2">Mary Jane, <small class="text-muted">Marketing Head</small></span>
                                </div>
                                <!-- Testimonial Item-03 -->
                                <div class="testimonial-item box-border">
                                    <div class="testimonial-image">
                                        <div class="testimonial-image-border">
                                            <img src="/img/client-03.png" alt="/">
                                        </div>
                                    </div>
                                    <p class="mb-0 mt-2 text-muted">" In a professional context it often that private or corporate clients publication to be made.In a professional context it often happens that private."</p>
                                    <span class="d-block mt-3 font-weight-bold mr-2">Jully Doe, <small class="text-muted">Design Strategist</small></span>
                                </div>
                                <!-- Testimonial Item-04 -->
                                <div class="testimonial-item box-border">
                                    <div class="testimonial-image">
                                        <div class="testimonial-image-border">
                                            <img src="/img/client-04.png" alt="/">
                                        </div>
                                    </div>
                                    <p class="mb-0 mt-2 text-muted">" In a professional context it often that private or corporate clients publication to be made.In a professional context it often happens that private."</p>
                                    <span class="d-block mt-3 font-weight-bold mr-2">John Doe, <small class="text-muted">CEO Management</small></span>
                                </div>
                            </div>
                        </div>
                        <!--    Client End   -->
                    </div>
                </div>
            </div>
        </section>
        <!--    About End    -->
        <script>
             
            
                const today = new Date();
                const birthDate = new Date("1997-09-11");
                const yearsDifference = today.getFullYear() - birthDate.getFullYear();

                var age = document.getElementById("age").innerText;
                document.getElementById("age").innerText = yearsDifference;
                console.log(yearsDifference);
                console.log(age);

           
                

            
        
        </script>