<!-- Contact Start -->

<section id="newShowcase" class="contact">
    
    <div class="display-table">
        
        <div class="display-content">
            
            <div class="container">
                <div class="alert alert-success" id="succalertMessage" >
                    <strong>Success!</strong> Registration Successfull
                  </div>
                  <div class="alert alert-success" id="loginsuccalertMessage" >
                    <strong>Success!</strong> Login Successfull
                  </div>
                  
                  <div class="alert alert-danger" id="failalertMessage">
                    <strong>Failed !</strong> Registration Failed!!!
                  </div>
                  <div class="alert alert-danger" id="loginfailalertMessage">
                    <strong>Failed !</strong> Wrong Credential!!!
                  </div>
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="text-center title">
                            <h2 class="text-dark">Login-<span class="base-color">Or Registration</span></h2>
                        </div>
                    </div>
                </div>
                
                <div class="row col-lg-12">
                    <div class="col-lg-6 mt-5 contact-form">
                        <h2 class="text-dark ml-2">Login</h2>
                        <form id="contactForm" action="" method="POST" >
                            
                                <!--Login Email -->
                                <div class="col-lg-6 form-item">
                                    <label for="startyear" class="label-col">User - Email</label>
                                    <div class="form-group">
                                        <input name="logEmail" id="logEmail" type="email" class="form-control"
                                        placeholder="User Email" onfocus="this.placeholder=''" onblur="this.placeholder='Enter email address'" required>
                                    </div>
                                </div>
                                <!-- Login Pass -->
                                <div class="col-lg-6 form-item">
                                    <label for="startyear" class="label-col">Password</label>
                                    <div class="form-group">
                                        <input type="password" id="logPassword" name="logPassword" class="form-control"  placeholder="User Pass" onfocus="this.placeholder=''" onblur="this.placeholder='Enter Password'" required>
                                    </div>
                                </div>
                                
                                <!-- submit -->
                                <div class="col-sm-6 mt-4 text-left">
                                    <div class="button-border">
                                        <button type="submit" id="login" class="pill-button">login</button>
                                    </div>             
                                </div>
                            
                        </form>
                    </div>
                    <div class="col-lg-6 mt-5 contact-form">
                        <h2><span class="base-color">Registration</span></h2>
                        <form id="contactForm" action="" method="POST" >
                            
                                <!--User name -->
                                <div class="col-lg-6 form-item">
                                    <label for="startyear" class="label-col base-color">User Name</label>
                                    <div class="form-group">
                                        <input name="regName" id="regName" type="text" class="form-control"
                                        placeholder="User Name" onfocus="this.placeholder=''" onblur="this.placeholder='Enter user Name'" required>
                                    </div>
                                </div>
                                <!--Login Email -->
                                <div class="col-lg-6 form-item">
                                    <label for="startyear" class="label-col base-color">Registration- Email</label>
                                    <div class="form-group">
                                        <input name="regEmail" id="regEmail" type="email" class="form-control"
                                        placeholder="User Email" onfocus="this.placeholder=''" onblur="this.placeholder='Enter email address'" required>
                                    </div>
                                </div>

                                <!--User PassWord -->
                                <div class="col-lg-6 form-item">
                                    <label for="startyear" class="label-col base-color">Registration passsword</label>
                                    <div class="form-group">
                                        <input name="regPass" id="regPass" type="password" class="form-control"
                                        placeholder="User Pass" onfocus="this.placeholder=''" onblur="this.placeholder='Enter Password'" required>
                                    </div>
                                </div>
                                
                                
                                <!-- submit -->
                                <div class="col-sm-6 mt-4 text-left">
                                    <div class="button-border">
                                        <button type="submit" id="registration" class="pill-button">Registration</button>
                                    </div>             
                                </div>
                            
                        </form>
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
</section>

