<!-- Contact Start -->

<section id="newShowcase" class="contact">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center title">
                            <h2 class="text-dark">New<span class="base-color">Experience input</span></h2>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 mt-5 contact-form">
                        <form id="contactForm" action="" method="POST" >
                            <div class="row">
                                <!-- Work title -->
                                <div class="col-lg-12 form-item">
                                    <div class="form-group">
                                        <input name="work_title" id="work_title" type="text" class="form-control"
                                        placeholder="work title" onfocus="this.placeholder=''" onblur="this.placeholder='Enter work title'" required>
                                    </div>
                                </div>
                                <!-- start year -->
                                <div class="col-lg-12 form-item">
                                    <label for="startyear" class="label-col">Start year</label>
                                    <div class="form-group">
                                        <select name="startYear"  class=" yearselect" id="startYear">

                                        </select>
                                    </div>
                                </div>
                                <!-- end year -->
                                <div class="col-lg-12 form-item">
                                    <label for="startyear" class="label-col">Ending year</label>
                                    <div class="form-group">
                                        <select name="endYear" class="yearselect" id="endYear">

                                        </select>
                                    </div>
                                </div>
                                <!-- Institute -->
                                <div class="col-lg-12 form-item">
                                    <div class="form-group">
                                        <input name="institute" id="institute" type="text" class="form-control"
                                        placeholder="Institution Name" onfocus="this.placeholder=''" onblur="this.placeholder='Enter institute name properly'" required>
                                    </div>
                                </div>
                                <!-- Work Description -->
                                <div class="col-12 form-item">
                                    <div class="form-group">
                                        <textarea name="description" id="description" rows="4" class="form-control" placeholder="Your work description..."></textarea>
                                    </div>
                                </div>
                                <!-- submit -->
                                <div class="col-sm-12 mt-4 text-left">
                                    <div class="button-border">
                                        <button type="submit" class="pill-button">Submit</button>
                                    </div>             
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row copy-right">
                    <div class="col-12 text-center">
                        <p class="copy-right">Copyright © Ab. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

