<!-- Contact Start -->

<section id="newShowcase" class="contact">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center title">
                            <h2 class="text-dark">New<span class="base-color">Skill input</span></h2>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 mt-5 contact-form">
                        <form id="contactForm" action="" method="POST" >
                            <div class="row">
                                <!--Work Skill title -->
                                <div class="col-lg-12 form-item">
                                    <div class="form-group">
                                        <input name="skillName" id="skillName" type="text" class="form-control"
                                        placeholder="Skill title" onfocus="this.placeholder=''" onblur="this.placeholder='Enter work title'" required>
                                    </div>
                                </div>
                                <!-- Work skill percentage -->
                                <div class="col-lg-12 form-item">
                                    <label for="startyear" class="label-col">Skill Percentage</label>
                                    <div class="form-group">
                                        <input type="number" id="skillPercentage" name="skillPercentage" class="form-control">
                                    </div>
                                </div>
                                
                                <!-- submit -->
                                <div class="col-sm-12 mt-4 text-left">
                                    <div class="button-border">
                                        <button type="submit" id="skillPost" class="pill-button">Submit</button>
                                    </div>             
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-5 contact-form">
                        <form id="contactForm" action="" method="POST" >
                            <div class="row">
                                <!--Language Skill title -->
                                <div class="col-lg-12 form-item">
                                    <div class="form-group">
                                        <input name="langName" id="langName" type="text" class="form-control"
                                        placeholder="Skill title" onfocus="this.placeholder=''" onblur="this.placeholder='Enter work title'" required>
                                    </div>
                                </div>
                                <!--Language skill percentage -->
                                <div class="col-lg-12 form-item">
                                    <label for="startyear" class="label-col">Skill Percentage</label>
                                    <div class="form-group">
                                        <input type="number" id="langSkillPercentage"  name="langSkillPercentage" class="form-control">
                                    </div>
                                </div>
                                
                                <!-- submit -->
                                <div class="col-sm-12 mt-4 text-left">
                                    <div class="button-border">
                                        <button type="submit" id="languagePost" class="pill-button">Submit</button>
                                    </div>             
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row copy-right">
                    <div class="col-12 text-center">
                        <p class="copy-right">Copyright © Ab. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

