<!-- Contact Start -->
<section id="newShowcase" class="contact">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center title">
                            <h2 class="text-dark">New <span class="base-color">Blog input</span></h2>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 mt-5 contact-form">
                        <form id="contactForm" action="" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12 form-item">
                                    <div class="form-group">
                                        <input name="blog_title"  type="text" class="form-control"
                                        placeholder="blog name" onfocus="this.placeholder=''" onblur="this.placeholder='Enter blog name'" required>
                                    </div>
                                </div>
                                
                                
                                
                                
                                <div class="col-12 form-item">
                                    <div class="form-group">
                                        <input name="blog_img" type="file" class="form-control"  placeholder="Project Image" onfocus="this.placeholder=''" onblur="this.placeholder='Enter project image'">
                                    </div>
                                </div>
                                <div class="col-12 form-item">
                                    <div class="form-group">
                                        <textarea name="comments"  rows="4" class="form-control" placeholder="Your message..."></textarea>
                                    </div>
                                </div>
                                <button type="submit" > Submit the post</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row copy-right">
                    <div class="col-12 text-center">
                        <p class="copy-right">Copyright © Ab. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Contact End  -->